---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=33668819%40N03&per_page=20&page=1&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="lbv4Fs0N1b43iG92rV9R%2BH8DlcmUKNGKObBAhJT78%2Bc%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1692771457", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":8,"perpage":20,"total":160,"photo":[{"id":"53092344616","owner":"33668819@N03","secret":"86cfda251c","server":"65535","farm":66,"title":"DSCF4788","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53092744445","owner":"33668819@N03","secret":"6ebf611f2c","server":"65535","farm":66,"title":"DSCF1953","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53092744520","owner":"33668819@N03","secret":"bddb5c5f99","server":"65535","farm":66,"title":"DSCF1759","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53092827953","owner":"33668819@N03","secret":"bed148df65","server":"65535","farm":66,"title":"DSCF1488","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53092744835","owner":"33668819@N03","[...]
