---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="NArsoRRnxJ0f%2FCxWWSqjfYBUEz41diYwwzV7IvkKHYA%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1652927251", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},{"_content":"flickr.activity.userPhotos"},{"_content":"flickr.auth.checkToken"},{"_content":"flickr.auth.getFrob"},{"_content":"flickr.auth.getFullToken"},{"_content":"flickr.auth.getToken"},{"_content":"flickr.auth.oauth.checkToken"},{"_content":"flickr.auth.oauth.getAccessToken"},{"_content":"flickr.blogs.getList"},{"_content":"flickr.blogs.getServices"},{"_content":"flickr.blogs.postPhoto"},{"_content":"flickr.cameras.getBrandModels"},{"_content":"flickr.camera[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=33668819%40N03&per_page=20&page=1&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="iPTfsJY1fVfw7l0E49d%2FKQIOP2XaR7jbdeRwmo3CsYc%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1652927251", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":6,"perpage":20,"total":120,"photo":[{"id":"49823443921","owner":"33668819@N03","secret":"1edf677c80","server":"65535","farm":66,"title":"DSC00092
        (1)","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49823443776","owner":"33668819@N03","secret":"fab747ca5c","server":"65535","farm":66,"title":"DSC00234","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49823764472","owner":"33668819@N03","secret":"30d9b9638c","server":"65535","farm":66,"title":"DSC00292","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49823443521","owner":"33668819@N03","secret":"99374f9df5","server":"65535","farm":66,"title":"DSC00391","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49822923338","owner":"33668819@N03","[...]
