---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=33668819%40N03&per_page=20&page=1&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="wDaz8yEVDZJm5g1pFeWUeF5PlXD7tk9dHsfGbdXylvw%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1767511030", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server:
      - serverless-proxy-10.78.23.122
      X-Flickr-Api-Request:
      - Root=1-695a13f6-32b01fcc25c6910c02511531
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":8,"perpage":20,"total":160,"photo":[{"id":"53092344616","owner":"33668819@N03","secret":"86cfda251c","server":"65535","farm":66,"title":"DSCF4788","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53092744445","owner":"33668819@N03","secret":"6ebf611f2c","server":"65535","farm":66,"title":"DSCF1953","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53092744520","owner":"33668819@N03","secret":"bddb5c5f99","server":"65535","farm":66,"title":"DSCF1759","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53092827953","owner":"33668819@N03","secret":"bed148df65","server":"65535","farm":66,"title":"DSCF1488","ispublic":1,"isfriend":0,"isfamily":0},{"id":"53092744835","owner":"33668819@N03","[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=53092344616&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="CL0mFgd0ArJIuksDcfZISg2bUXVnApMVficP73qu0Vs%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1767511031", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server:
      - serverless-proxy-10.78.33.30
      X-Flickr-Api-Request:
      - Root=1-695a13f7-2793b0a045e906d531356b03
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"53092344616","secret":"86cfda251c","server":"65535","farm":66,"dateuploaded":"1691123936","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"33668819@N03","username":"Ben
        Radler","realname":"","location":null,"iconserver":"2457","iconfarm":3,"path_alias":"buhdoo","gift":{"gift_eligible":true,"eligible_durations":["year","month","week"],"new_flow":true}},"title":{"_content":"DSCF4788"},"description":{"_content":"Kodachrome"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1691123936","taken":"2022-03-30
        23:02:56","takengranularity":0,"takenunknown":"0","lastupdate":"1691123937"},"views":"24","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":0,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/buhdoo\/53092344616\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Sun, 04 Jan 2026 07:17:11 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=53092344616&method=flickr.photos.getSizes&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="Ylhq7FE6AyXu4lpxu3IChe%2FmwQojaUmZ6kk0jSQiua8%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1767511031", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server:
      - serverless-proxy-10.78.13.79
      X-Flickr-Api-Request:
      - Root=1-695a13f7-4cbd77fd37be705a67d71d7c
    body:
      encoding: ASCII-8BIT
      string: '{"sizes":{"canblog":0,"canprint":0,"candownload":0,"size":[{"label":"Square","width":75,"height":75,"source":"https:\/\/live.staticflickr.com\/65535\/53092344616_86cfda251c_s.jpg","url":"https:\/\/www.flickr.com\/photos\/buhdoo\/53092344616\/sizes\/sq\/","media":"photo"},{"label":"Large
        Square","width":150,"height":150,"source":"https:\/\/live.staticflickr.com\/65535\/53092344616_86cfda251c_q.jpg","url":"https:\/\/www.flickr.com\/photos\/buhdoo\/53092344616\/sizes\/q\/","media":"photo"},{"label":"Thumbnail","width":67,"height":100,"source":"https:\/\/live.staticflickr.com\/65535\/53092344616_86[...]
[...]
