/**
 * SCSS template for post-format styles
 *
 * @package Ghost
 * @subpackage Plattan
 * @since Plattan 1.0
 */

.home-template, .archive-template {

  .quote-title {
    display: none;
  }

  .tag-format-tweet, .tag-format-quote, .tag-format-tag {
    h2 {
      display:none;
    }

    .post-content {
      margin: 2em 2em 0 2em;
      font-size: 0.85em;
      font-style: italic;
      @include media($medium) {
        padding: 0 0.5em 0 2.0em;
      }
      @include media($large) {
        padding: 0 4.5em;
      }
      a.button {
        @include media($medium) {
          font-size: 1em;
        }
        @include media($large) {
          padding: 1.5em 2em;
          font-size: 1.5em;
        }
      }
    }

    p {
      margin-bottom: 0;
    }

    .post-meta,
    .post-continue,
    .read-more {
      display:none;
    }
  }

  .tag-format-tweet {
    @include icon('before', false, 'twitter') {
      background-color: $twitter;
    };

    background-color: tint( $twitter, 90% );

  }

  .tag-format-tag {
    @include icon('before', false, 'tag') {
      background-color: $color-1;
    };

    background-color: tint( $color-1, 90% );

  }

  .tag-format-link {
    @include icon('before', false, 'link') {
      background-color: $color-1;
    }
    background-color: tint( $color-1, 90% );

  }

  .tag-format-quote {
    @include icon('before', false, 'quote') {
      background-color: $color-2;
    }
    background-color: tint( $color-2, 90% );

    .quote-title {
      display: inline;
    }
  }
  .tag-format-tweet, .tag-format-link, .tag-format-quote, .tag-format-tag {
    &:before{
      @include media($small) {
        font-size: $base-font-size * 0.8;
      }
      @include media($medium) {
        font-size: $base-font-size * 1.2;
      }
      @include media($large) {
        font-size: $base-font-size * 2.0;
      }
    }
  }

  .tag-format-link .post-meta {
    border-color: tint( $color-1, 85% );

    .post-tags {
      display:none;
    }
  }
}
