<div class="bg-primary">
    <div class="container py-6 flex flex-col sm:flex-row justify-between">
        <p class="font-body text-white text-center md:text-left">© Copyright
            2021. All right reserved, ATOM.</p>
        <div class="flex items-center justify-center sm:justify-start pt-5 sm:pt-0">
            <a href="/">
                <i class='bx bxl-facebook-square text-white hover:text-yellow text-2xl'></i>
            </a>
            <a href="/" class="pl-4">
                <i class='bx bxl-twitter text-white hover:text-yellow text-2xl'></i>
            </a>
            <a href="/" class="pl-4">
                <i class='bx bxl-dribbble text-white hover:text-yellow text-2xl'></i>
            </a>
            <a href="/" class="pl-4">
                <i class='bx bxl-linkedin text-white hover:text-yellow text-2xl'></i>
            </a>
            <a href="/" class="pl-4">
                <i class='bx bxl-instagram text-white hover:text-yellow text-2xl'></i>
            </a>
        </div>
    </div>
</div>