<div class="bg-center bg-cover bg-no-repeat relative py-8"
    style="background-image: url(<%= asset_pack_path("media/images/home/bg-hero.jpg") %>);">
    
    <div
        class="bg-center bg-cover bg-no-repeat absolute inset-0 z-20 bg-gradient-to-r from-hero-gradient-from to-hero-gradient-to">
    </div>

    <div class="container z-30 relative pt-20 sm:pt-56 lg:pt-64 pb-12 sm:pb-48 lg:pb-48">
        <div class="flex flex-col lg:flex-row justify-center items-center">
            <div class="rounded-full border-8 border-white shadow-xl">
                <%= image_pack_tag "home/blog-author-#{rand(1..2)}.jpg", class: "h-48 sm:h-56 rounded-full", alt: "author" %>
            </div>
            <div class="lg:pl-8 pt-8 sm:pt-10 lg:pt-0">
                <h1
                    class="font-header text-white text-4xl sm:text-5xl md:text-6xl text-center sm:text-left">
                    <div class="font-bold uppercase">Ben Radler</div>
                    <div class="font-thin uppercase">Software Engineer</div>
                </h1>
                <div class="flex flex-col sm:flex-row justify-center lg:justify-start pt-3 sm:pt-5">
                    <div class="flex justify-center sm:justify-start items-center pl-0 md:pl-1">
                        <p class="font-body text-white text-lg uppercase">Find Me Here</p>
                        <div class="hidden sm:block">
                            <i class='bx bx-chevron-right text-yellow text-3xl'></i>
                        </div>
                    </div>
                    <%= render partial: 'shared/social_icons', locals: { icon_classes: 'text-white hover:text-yellow' } %>
                </div>
            </div>
        </div>
    </div>
</div>