defaults: &defaults
  AWS_ACCESS_KEY_ID:
  AWS_SECRET_ACCESS_KEY:
  FLICKR_API_KEY: 'some-api-key'
  FLICKR_SECRET: 'some-secret'
  FOG_PROVIDER:
  FOG_DIRECTORY:
  FOG_REGION:
  INSTAGRAM_CLIENT_ID: 'some-client-id'
  RAILS_HOST: 'http://localhost'
  RAILS_PORT: '5000'
  REDISCLOUD_URL: 'localhost'
  SENDGRID_SMTP_PORT: '587'
  SENDGRID_SMTP_SERVER:
  SENDGRID_SMTP_LOGIN:
  SENDGRID_SMTP_PASSWORD:


development:
  <<: *defaults

test:
  <<: *defaults
