- set_meta_tags title: '422 - Unprocessable Entity', description: '422 - Unprocessable Entity'
- content_for :page_title, '422 - Unprocessable Entity'

| Sorry, seems like you're trying to do something you shouldn't!&nbsp;
= link_to 'Contact me here', page_path('contact-me')
| if you believe you received this error by mistake.
