---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/193210551/media/recent.json?access_token=193210551.bfc4af8.caf1f79fb7a4463da4cfbc04ed528088&count=20&max_id=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="193210551.bfc4af8.caf1f79fb7a4463da4cfbc04ed528088"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '495'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {}, "meta": {"code": 200}, "data": [{"attribution":
        null, "tags": ["sfbaybridge", "baybridge", "sfoaklandbaybridge", "sanfranciscorain",
        "sanfranciscobaybridge"], "type": "image", "location": {"latitude": 37.815103286389,
        "name": "Bay Bridge", "longitude": -122.35835447234, "id": 218946591}, "comments":
        {"count": 0}, "filter": "Normal", "created_time": "1477874329", "link": "https://www.instagram.com/p/BMNR0h_g2go/",
        "likes": {"count": 16}, "images": {"low_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/14693950_214361765661864_6291893489663737856_n.jpg?ig_cache_key=MTM3MjgzMTgzODEyMDQwNTAzMg%3D%3D.2",
        "width": 320, "height": 278}, "thumbnail": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/c69.0.941.941/14693950_214361765661864_6291893489663737856_n.jpg?ig_cache_key=MTM3MjgzMTgzODEyMDQwNTAzMg%3D%3D.2.c",
        "width": 150, "height": 150}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14693950_214361765661864_6291893489663737856_n.jpg?ig_cache_key=MTM3MjgzMTgzODEyMDQwNTAzMg%3D%3D.2",
        "width": 640, "height": 557}}, "users_in_photo": [], "caption": {"created_time":
        "1477874329", "text": "#sanfranciscorain #sanfranciscobaybridge #baybridge
        #sfbaybridge #sfoaklandbaybridge", "from": {"username": "lordradler", "profile_picture":
        "http://scontent.cdninstagram.com/t51.2885-19/11809846_677788412323299_1160648760_a.jpg",
        "id": "193210551", "full_name": "lordradler"}, "id": "17844584104132228"},
        "user_has_liked": false, "id": "1372831838120405032_193210551", "user": {"username":
        "lordradler", "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/11809846_677788412323299_1160648760_a.jpg",
        "id": "193210551", "full_name": "lordradler"}}, {"attribution": null, "tags":
        ["sunsetdistrict", "sanfranciscohouses", "halloweendecorations", "halloweenhouse",
        "halloweendecoration", "halloweenhouses", "halloweenyard", "halloweendecorating"],
        "type": "image", "location": {"latitude": 37.746997808972, "name": "Sunset
    [...]
