---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="BZZPqgqiOhkfUXSglBjHZU61mLjRilvQkr0RdkO0Bzk%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1478067668", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},{"_content":"flickr.activity.userPhotos"},{"_content":"flickr.auth.checkToken"},{"_content":"flickr.auth.getFrob"},{"_content":"flickr.auth.getFullToken"},{"_content":"flickr.auth.getToken"},{"_content":"flickr.auth.oauth.checkToken"},{"_content":"flickr.auth.oauth.getAccessToken"},{"_content":"flickr.blogs.getList"},{"_content":"flickr.blogs.getServices"},{"_content":"flickr.blogs.postPhoto"},{"_content":"flickr.cameras.getBrandModels"},{"_content":"flickr.camera[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=33668819%40N03&per_page=20&page=&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="OqB6sq0p3sLagX46DuW7erjGIeJvYl%2Fn%2BgyrHp%2F3STY%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1478067668", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":60,"perpage":20,"total":"1195","photo":[{"id":"15889417869","owner":"33668819@N03","secret":"d3b603109b","server":"8580","farm":9,"title":"IMG_6661","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16075507845","owner":"33668819@N03","secret":"a6f897ba56","server":"8679","farm":9,"title":"IMG_6659","ispublic":1,"isfriend":0,"isfamily":0},{"id":"15889416779","owner":"33668819@N03","secret":"51f10c906d","server":"7532","farm":8,"title":"IMG_6651","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16049708866","owner":"33668819@N03","secret":"2dbeba6b4f","server":"8672","farm":9,"title":"IMG_6649","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16049708266","owner":"33668819@N03","secret[...]
