---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="BfsjXHygkjxjG7fZ0avXyRMrx87aFbIgGVA7dmtNuBk%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1587702298", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},{"_content":"flickr.activity.userPhotos"},{"_content":"flickr.auth.checkToken"},{"_content":"flickr.auth.getFrob"},{"_content":"flickr.auth.getFullToken"},{"_content":"flickr.auth.getToken"},{"_content":"flickr.auth.oauth.checkToken"},{"_content":"flickr.auth.oauth.getAccessToken"},{"_content":"flickr.blogs.getList"},{"_content":"flickr.blogs.getServices"},{"_content":"flickr.blogs.postPhoto"},{"_content":"flickr.cameras.getBrandModels"},{"_content":"flickr.camera[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=33668819%40N03&per_page=20&page=1&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="zBZ6tCoyv8TG6IOXSV0ihkRZ4sPHXHOWPY8RzpX3NKA%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1587702298", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":2,"perpage":20,"total":"26","photo":[{"id":"14999600037","owner":"33668819@N03","secret":"f75ef75bec","server":"5575","farm":6,"title":"IMG_6117","ispublic":1,"isfriend":0,"isfamily":0},{"id":"15185789872","owner":"33668819@N03","secret":"0ee6ae3089","server":"5593","farm":6,"title":"IMG_6140","ispublic":1,"isfriend":0,"isfamily":0},{"id":"15183136131","owner":"33668819@N03","secret":"79d9e155fc","server":"3839","farm":4,"title":"IMG_6187","ispublic":1,"isfriend":0,"isfamily":0},{"id":"15186164025","owner":"33668819@N03","secret":"70195d4dfd","server":"3921","farm":4,"title":"IMG_6192","ispublic":1,"isfriend":0,"isfamily":0},{"id":"15186163455","owner":"33668819@N03","secret[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=14999600037&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="BoZzUzvXuGjx%2BU%2FPEzKnMj%2FmNvF1oiAz0kj%2BGlOqKqE%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1587702299", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"14999600037","secret":"f75ef75bec","server":"5575","farm":6,"dateuploaded":"1410241681","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"33668819@N03","username":"Ben
        Radler","realname":"","location":"","iconserver":"2457","iconfarm":3,"path_alias":"buhdoo"},"title":{"_content":"IMG_6117"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1410241681","taken":"2014-08-08
        15:39:35","takengranularity":"0","takenunknown":0,"lastupdate":"1587702124"},"views":"44","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":0,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":1,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/buhdoo\/14999600037\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Fri, 24 Apr 2020 04:24:59 GMT
[...]
