---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=33668819%40N03&per_page=20&page=1&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="mnbl2qY%2FUU95aTmdw2qTjw%2BygwB7YhkjbU9cl336Sps%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1640843263", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":6,"perpage":20,"total":120,"photo":[{"id":"49823443921","owner":"33668819@N03","secret":"1edf677c80","server":"65535","farm":66,"title":"DSC00092
        (1)","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49823443776","owner":"33668819@N03","secret":"fab747ca5c","server":"65535","farm":66,"title":"DSC00234","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49823764472","owner":"33668819@N03","secret":"30d9b9638c","server":"65535","farm":66,"title":"DSC00292","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49823443521","owner":"33668819@N03","secret":"99374f9df5","server":"65535","farm":66,"title":"DSC00391","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49822923338","owner":"33668819@N03","[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=49823443921&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="XiUo0Ow6tiTB1sg2xHhYTUGK0AuDzeVpGYAGCY5oNNw%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1640843263", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"49823443921","secret":"1edf677c80","server":"65535","farm":66,"dateuploaded":"1587941288","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"33668819@N03","username":"Ben
        Radler","realname":"","location":null,"iconserver":"2457","iconfarm":3,"path_alias":"buhdoo"},"title":{"_content":"DSC00092
        (1)"},"description":{"_content":"Slug Bug"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1587941288","taken":"2019-01-29
        16:39:15","takengranularity":"0","takenunknown":"0","lastupdate":"1587941289"},"views":"25","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":0,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/buhdoo\/49823443921\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Thu, 30 Dec 2021 05:47:44 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=49823443921&method=flickr.photos.getSizes&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="USZuxMKQUBI2%2BiWPxFsH82cwdvZNIYsAzookj0ySOC4%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1640843264", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sizes":{"canblog":0,"canprint":0,"candownload":0,"size":[{"label":"Square","width":75,"height":75,"source":"https:\/\/live.staticflickr.com\/65535\/49823443921_1edf677c80_s.jpg","url":"https:\/\/www.flickr.com\/photos\/buhdoo\/49823443921\/sizes\/sq\/","media":"photo"},{"label":"Large
        Square","width":150,"height":150,"source":"https:\/\/live.staticflickr.com\/65535\/49823443921_1edf677c80_q.jpg","url":"https:\/\/www.flickr.com\/photos\/buhdoo\/49823443921\/sizes\/q\/","media":"photo"},{"label":"Thumbnail","width":100,"height":67,"source":"https:\/\/live.staticflickr.com\/65535\/49823443921_1e[...]
[...]
