---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=33668819%40N03&per_page=20&page=8&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="06d068ffa30bffec9719b29457ee38bd",
        oauth_nonce="VAWOcjBAUSPdTikQy6Uq07OZPOUsgnch6xbg7AmETnE%3D", oauth_signature="d0030bbe1e6652e2%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1587944066", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":8,"pages":7,"perpage":20,"total":123,"photo":[{"id":"49823444111","owner":"33668819@N03","secret":"0979f96034","server":"65535","farm":66,"title":"DJI_0086","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49823444851","owner":"33668819@N03","secret":"9866a630a2","server":"65535","farm":66,"title":"A7309412","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49823765457","owner":"33668819@N03","secret":"5d40e26e55","server":"65535","farm":66,"title":"A7309544","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Sun, 26 Apr 2020 23:34:26 GMT
recorded_with: VCR 5.1.0
