---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=33668819%40N03&per_page=20&page=8&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<HIDDEN>",
        oauth_nonce="<HIDDEN>", oauth_signature="<HIDDEN>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1640843278", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":8,"pages":6,"perpage":20,"total":120,"photo":[{"id":"49823771927","owner":"33668819@N03","secret":"987c2b4da3","server":"65535","farm":66,"title":"A7303965","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49823764312","owner":"33668819@N03","secret":"10b86f99a0","server":"65535","farm":66,"title":"A7304005","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49822920853","owner":"33668819@N03","secret":"15f22d2966","server":"65535","farm":66,"title":"A7304192","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49823450936","owner":"33668819@N03","secret":"03fd62b5f1","server":"65535","farm":66,"title":"A7304390","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49822920208","owner":"33668819@N03","[...]
