@tailwind base;
@tailwind components;

html {
    @apply font-body antialiased;

    /*
        clicking anchor links from another page to home page must scroll the content 40px
        so it doesn't appear under the fixed navigation
    */
    scroll-padding-top: 40px;
}

@tailwind utilities;

@font-face {
    font-family: "northemes-icons";
    src: url("../fonts/northemes-icons.ttf") format("truetype"), url("../fonts/northemes-icons.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

/*
'quote' 'a',
'gallery' 'b',
'image' 'c',
'audio' 'd',
'video' 'e',
'pinterest' 'f',
'category' 'g',
'link' 'h',
'comment' 'i',
'facebook' 'j',
'twitter' 'k',
'google' 'l',
'linkedin' 'm',
'github' 'n',
'youtube' 'o',
'dribbble' 'p',
'skype' 'q',
'instagram' 'r',
'stackoverflow' 's',
'tubmlr' 't',
'foursquare' 'u',
'rss' 'v',
'tag' 'w',
'color' 'x',
'Ghost' 'y',
'pin' 'z',
'pen' '\e600',
'menu' '\e601',
'collapse' '\e602'
*/
.northemes-icons {
    font-family: "northemes-icons";
    font-style: normal;
}
