// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "@activeadmin/activeadmin/src/scss/mixins";
@import "@activeadmin/activeadmin/src/scss/base";

// import our markdown editor stylesheet for editing blog posts with marked
@import "_markdown_editor";


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

// custom styles for post#show image container
.attributes_table.blog_post,
.formtastic.blog_post {
  a.default-button {
    @include default-button;
    margin: 5px;
    &.danger-button {
      background-image: linear-gradient(180deg, #f22, #f55);
      color: white;
      text-shadow: none;
      border: 1px solid #f00;
      &:hover {
        background-image: linear-gradient(180deg, #f33, #f99);
      }
    }
  }
  li.images {
    > label {
      display: block;
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  div.image {
    text-align: center;
    flex: 0 0 calc(20%);
    padding: 10px;
    border: 1px solid #999;
    box-shadow: 0 0 2px 2px #eee;
  }
  img {
    padding: 5px;
  }
}

// constrain large images in the markdown renderer to not make the page wider than 100%
div#blog_post_body_marked {
  img {
    max-width: 100%;
  }
}
