- set_meta_tags title: 'Ben Radler - Street Photographer - Photography Gallery',
        description: 'Photography Gallery - San Francisco Bay Area Street Photography'

- content_for :page_title, 'Photography Gallery'

- # thumbnail gallery
div[class="my-gallery grid are-images-unloaded mt-16 sm:mt-20 lg:mt-18 xl:mt-20" data-navigation-contrast="light" itemscope="" itemtype="http://schema.org/ImageGallery"]
  .grid-sizer
  - @photos.each do |photo|
    figure.image.grid-item itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject"
      a data-pswp-height=photo[:photo_large][:height] data-pswp-width=photo[:photo_large][:width] href=photo[:photo_large][:url] itemprop="contentUrl"
        img alt="#{photo[:description]}" decoding="async" height="#{photo[:photo_large][:height]}" itemprop="thumbnail" src="#{photo[:photo_large][:url]}" width="#{photo[:photo_large][:width]}"
      figcaption itemprop="caption description"
        = photo[:description]

- if @gallery_has_more
  = link_to 'Next page', photography_path(seed: @gallery_seed, page: @gallery_page + 1), class: 'pagination-next glass-button rounded-full'

.page-load-status aria-live="polite"
  .infinite-scroll-request role="status"
    .infinite-scroll-spinner aria-hidden="true"
    span.sr-only Loading more photographs
